<main class="TodoPage">
  <h1 class="TodoPage__title">My Todo-list</h1>
  <form class="AddTodo" action="/todos" method="POST">
    <input class="AddTodo__input" type="text" placeholder="What's next?" name="todo_text" />
    <input class=" AddTodo__date" type="date" name="due_date" />
    <input class="AddTodo__button" type="submit" value="Add" />
  </form>
  <%= render partial: "todo-section", locals: {
                   section_title: "Overdue",
                   todos: Todo.overdue,
                 } %>
  <%= render partial: "todo-section", locals: {
                   section_title: "Due Today",
                   todos: Todo.due_today,
                 } %>
  <%= render partial: "todo-section", locals: {
                   section_title: "Due Tommorow",
                   todos: Todo.due_later,

                 } %>
</main>
