.Home-Title {
  font-family: "Open Sans";
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 30px;
}

.Home-authenticate {
  font-family: "Open Sans";
  margin-bottom: 30px;
  font-size: 30px;
}

.UserHeader {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans";
  padding: 10px;
  background-color: lightgray;
  font-size: 14px;
  margin-bottom: 10px;
}
