.Home-Title {
  font-family: "Open Sans";
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 30px;
}

.Home-authenticate {
  font-family: "Open Sans";
  margin-bottom: 30px;
  font-size: 30px;
}
